
body {
    padding: 24px;
}

.selected-sample {
    height: 600px;
    overflow: auto;  /*for selected */
    padding-top: 0px; /*for selected scroll to element*/
    padding-bottom: 0px; /*for selected scroll to element*/ 
    border: solid 1px cadetblue;
}

.selected-sample .selected {
    background-color: blanchedalmond;
}

.list-item {
    border-bottom: 1px solid gray;
}